<h1>Ingresa tu email para unirte al chat</h1>

<div>
    <form action="/login" method="post">
        <label for="user"></label>Email: <input type="text" name="user">
        <input type="submit" value="Enviar">
    </form>
</div>