<h1>Recuperar contraseña</h1>

<div>
    <form action="/api/sessions/recovery-password" method="POST">
        Email/Username: <input type="text" name="username"><br><br>
        Nueva contraseña: <input type="password" name="password"><br><br>

        <input type="submit" value="Resetear contraseña">
    </form>
</div>