<h1>Iniciar sesi칩n</h1>

<div>
    {{#if hasError}}
        <p style="color: red">{{error}}</p>
    {{/if}}
</div>

<div>
    <button id="sendButtonGithub"><a href="/api/sessions/github">Entrar con github</a></button>
</div>
<br>
<div>
    <form action="/api/sessions/login" method="POST">
        Email/Username: <input type="text" name="username" id="usernameLogin"><br><br>
        Contrase침a: <input type="password" name="password" id="passwordLogin"><br><br>

        <input type="submit" value="Iniciar sesi칩n" id="sendButtonLogin">
    </form>
</div>
<br>
<div>
    <a href="/recovery-password">Olvide mi contrase침a</a>
</div>

<script src="/js/login.js"></script>
